#map {
  width: 100%;
  height: 280px;        /* Define uma altura fixa excelente para telas de celular */
  min-height: 280px;    /* Impede que o flexbox esmague o mapa */
  border-radius: 12px;  /* Deixa as bordas arredondadas e elegantes */
  border: 1px solid #d4d4d4;
  margin: 10px 0;       /* Cria um espaçamento saudável acima e abaixo dele */
  z-index: 1;           /* Garante que o Leaflet não cubra componentes nativos */
}

.map-caption {
  font-size: 0.72rem;
  color: #6b6b6b;
  margin-bottom: 16px;
}

.popup-btn {
  display: inline-block;
  margin-top: 6px;
  font-size: 0.8rem;
  color: #2455e8;
  text-decoration: underline;
  cursor: pointer;
}

.qr-note {
  border: 2px dashed #ff0000;
  padding: 10px 10px;
  font-size: 0.8rem;
  background: #d8abab;
  margin: 16px 0;
}